<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>net.androidwg.discordfm.launch</string>
  <key>LimitLoadToSessionType</key>
  <string>Aqua</string>
  <key>ProgramArguments</key>
  <array>
    <string>~/Applications/Discord.fm.app/Contents/MacOS/Discord.fm</string>
  </array>
  <key>StartInterval</key>
  <integer>3620</integer>
</dict>
</plist>